.LOG-IN-PAGE {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .LOG-IN-PAGE .overlap-wrapper {
    background-image: url(https://c.animaapp.com/SNdUwhTY/img/log-in-page.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 1080px;
    width: 1920px;
  }
  
  .LOG-IN-PAGE .overlap {
    height: 882px;
    left: 175px;
    position: relative;
    top: 99px;
    width: 1597px;
  }
  
  .LOG-IN-PAGE .background {
    box-shadow: 0px 0px 6px #00000080;
    height: 882px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1597px;
  }
  
  .LOG-IN-PAGE .overlap-group {
    height: 882px;
    position: relative;
    width: 1595px;
  }
  
  .LOG-IN-PAGE .background-layer {
    height: 881px;
    left: 0;
    position: absolute;
    top: 0;
    width: 615px;
  }
  
  .LOG-IN-PAGE .registerpage-button {
    height: 59px;
    left: 555px;
    position: absolute;
    top: 130px;
    width: 231px;
  }
  
  .LOG-IN-PAGE .loginpage-button {
    height: 59px;
    left: 489px;
    position: absolute;
    top: 57px;
    width: 231px;
  }
  
  .LOG-IN-PAGE .picture {
    background-image: url(https://c.animaapp.com/SNdUwhTY/img/rectangle-1.png);
    background-size: 100% 100%;
    height: 881px;
    left: 615px;
    position: absolute;
    top: 1px;
    width: 980px;
  }
  
  .LOG-IN-PAGE .text-wrapper {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 800;
    height: 15px;
    left: 629px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 856px;
  }
  
  .LOG-IN-PAGE .input-user {
    box-shadow: 0px 4px 4px #00000040;
    height: 558px;
    left: 61px;
    position: absolute;
    top: 253px;
    width: 357px;
  }
  
  .LOG-IN-PAGE .div {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 181px;
  }
  
  .LOG-IN-PAGE .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 539px;
    white-space: nowrap;
  }
  
  .LOG-IN-PAGE .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    left: 184px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 539px;
    white-space: nowrap;
  }
  
  .LOG-IN-PAGE .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    left: 4px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 358px;
    white-space: nowrap;
  }
  
  .LOG-IN-PAGE .input-button {
    all: unset;
    box-sizing: border-box;
    height: 47px;
    left: 0;
    position: absolute;
    top: 268px;
    width: 130px;
  }
  
  .LOG-IN-PAGE .div-wrapper {
    background-color: #ffffff;
    border-radius: 50px;
    height: 47px;
    position: relative;
    width: 128px;
  }
  
  .LOG-IN-PAGE .text-wrapper-5 {
    color: #874b29;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 800;
    height: 22px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 60px;
  }
  
  .LOG-IN-PAGE .passwordlogin-input {
    height: 68px;
    left: 0;
    position: absolute;
    top: 96px;
    width: 349px;
  }
  
  .LOG-IN-PAGE .input {
    background-color: #ffffff;
    border-radius: 25px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 349px;
  }
  
  .LOG-IN-PAGE .mdi-password {
    height: 20px !important;
    left: 9px !important;
    position: absolute !important;
    top: 7px !important;
    width: 20px !important;
  }
  
  .LOG-IN-PAGE .password {
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 88px;
  }
  
  .LOG-IN-PAGE .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 600;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .LOG-IN-PAGE .usernamelogin-input {
    height: 68px;
    left: 0;
    position: absolute;
    top: 0;
    width: 349px;
  }
  
  .LOG-IN-PAGE .mdi-user {
    height: 24px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 24px;
  }
  
  .LOG-IN-PAGE .username {
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 145px;
  }
  
  .LOG-IN-PAGE .LOGIN-HERE {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 52px;
    font-weight: 900;
    height: 63px;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 109px;
    width: 456px;
  }
  
  .LOG-IN-PAGE .text-wrapper-7 {
    color: #ffffff;
    font-family: "Vast Shadow", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
  }
  
  .LOG-IN-PAGE .text-wrapper-8 {
    color: #ffffff;
    font-family: "Vast Shadow", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }
  
  .LOG-IN-PAGE .icon-facebook {
    height: 32px;
    left: 121px;
    position: absolute;
    top: 662px;
    width: 34px;
  }
  
  .LOG-IN-PAGE .icon-google {
    height: 34px;
    left: 61px;
    position: absolute;
    top: 662px;
    width: 32px;
  }
  